@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* *PALETA DE COLORES* */
:root {
--cadmium-orange: #f28f3bff;
--steel-teal: #588b8bff;
--white: #ffffffff;
--black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Kanit", sans-serif;
    background: var(--white);
}

a {
    text-decoration: none;
}

* img {
    max-width: 100%;
}


/* *NAVBAR* */
.logo {
    height: 80%;
    border-radius: 10px;
}

.logo:hover{ 
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.header {
    background: var(--steel-teal);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-link {
    color: var(--black);
    padding: 0.9rem;
    font-weight: 700;
}

.nav-link:hover {
    color: var(--cadmium-orange);
}

.container-btn {
    /* display: none; */
}

.burga {
    display: none;
}

.menu-toggle {
    display: none;
}

/* *HERO SECTION* */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 5rem;
}

.section-img {
    width: 500px;
    height: auto;
    border-radius: 15px;
    box-shadow: rgba(243, 143, 59, 0.4) 5px 5px, rgba(243, 143, 59, 0.3) 10px 10px, rgba(243, 143, 59, 0.2) 15px 15px, rgba(243, 143, 59, 0.1) 20px 20px, rgba(243, 143, 59, 0.05) 25px 25px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}    

.hero-text h1 {
    font-weight: 900;
    font-size: 3rem;
    max-width: 550px;
}

.hero-text p {
    max-width: 400px;
    font-size: 1.2rem;
}

.text-btn {
    margin-top: 2rem;
    display: flex;
    gap: 20px;
}

.btn {
    border: 2px solid var(--steel-teal);
    padding: 1rem 1.3rem;
    border-radius: 5px;
    font-weight: 600;
}

.btn-cta {
    background: var(--steel-teal);
    color: var(--black);
    font-weight: 200;
}

.btn-cta:hover {
    background: var(--cadmium-orange);
    color: var(--steel-teal);
    font-weight: 200;
}

.btn-otro {
    color: var(--steel-teal);
    font-weight: 200;
}

.btn-otro:hover {
    color: var(--cadmium-orange);
    border: 2px solid var(--cadmium-orange);
}


/* *INFO SECTION* */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text {
    font-size: 1.6rem;
    padding: 3rem 25rem;
    margin-top: 50px ;
}


/* *DESCRIPTION SECTION* */
.encuesta {
    width: 1100px;
    margin: 0 auto;
    padding: 2rem;
}

.encuesta h2 {
    font-weight: 900;
    font-size: 3rem;
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: var(--black);
    border-top: 3px solid var(--cadmium-orange);
}

.encuesta-p {
    text-align: center;
    font-size: 1.6rem;
    padding: 3rem 0;
    font-weight: 100;

}

.encuesta-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.encuesta-item {
    height: 350px;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(243, 143, 59, 0.4) 5px 5px, rgba(243, 143, 59, 0.3) 10px 10px, rgba(243, 143, 59, 0.2) 15px 15px, rgba(243, 143, 59, 0.1) 20px 20px, rgba(243, 143, 59, 0.05) 25px 25px;
}
.encuesta-item span {
    margin: 0 5rem;
}

.encuesta-item h3 {
    color: var(--steel-teal);
    text-align: center;
    margin: 2rem 0;
    font-weight: 700;
    font-size: 1.6rem;
}

.encuesta-item p {
    font-size: 1.1rem;
    margin: 2rem 0;
    font-weight: 100;
}


/* *PRODUCTS SECTION* */
.productos {
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.productos h2 {
    font-weight: 900;
    font-size: 3rem;
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: var(--black);
    border-top: 3px solid var(--steel-teal);
}

.product-p {
    text-align: center;
    font-size: 1.6rem;
    padding: 3rem 0;
    font-weight: 100;
}

.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.product-item img {
    height: 200px;
    width: 200px;
    margin-left: 1.2rem;
}

.product-item img:hover {
    -webkit-transform: scale(1.1);
    -webkit-transform-style: preserve-3d;
    transform: scale(1.1);
    transform-style: preserve-3d;
}

.product-item {
    height: 550px;
    width: 300px;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: rgba(88, 139, 139, 0.4) 5px 5px, rgba(88, 139, 139, 0.3) 10px 10px, rgba(88, 139, 139, 0.2) 15px 15px, rgba(88, 139, 139, 0.1) 20px 20px, rgba(88, 139, 139, 0.05) 25px 25px;
}

.product-item h3 {
    color: var(--cadmium-orange);
    text-align: center;
    margin: 2rem 0;
    font-weight: 700;
    font-size: 1.6rem;
}

.product-item p {
    font-size: 1.1rem;
    margin: 2rem 0;
    font-weight: 100;
}

/* *CLIENTS SECTION* */
.clients {
    width: 1100px;
    margin: 0 auto;
}

.clients h2 {
    font-weight: 900;
    font-size: 3rem;
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: var(--black);
    border-top: 3px solid var(--cadmium-orange); 
}

.clients p {
    text-align: center;
    font-size: 1.6rem;
    padding: 3rem 0;
    font-weight: 100;
}

ul.slider {
    position: relative;
    width: 800px;
    height: 300px;
}

ul.slider li {
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

.container-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-clientes {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menu-slider {
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.menu-slider li {
    flex-direction: row;
    text-align: center;
}

.menu-slider li a {
    color: var(--steel-teal);
    background-color: var(--cadmium-orange);
    padding: 15px;
    width: 10px;
    height: 10px;
    font-size: 1rem;
    border-radius: 100%;
    font-weight: 700;
}

/* *FOOTER* */
footer {
    background: var(--steel-teal);
}

.contacto-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 4rem 2rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 0;
}

.contacto-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-redes {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.copy {
    text-align: center;
}

/* *MEDIA QUERIES CELULAR* */
@media screen and (max-width: 480px) {
/* *NAVBAR* */
    body {
        z-index: 1;
    }

    .container-btn {
        font-size: 2rem;
        color: var(--cadmium-orange);
    }
    
    .nav-list {
        display: none;
    }

    .hamburguesa {
        color: var(--cadmium-orange);
    }

    .burga {
        display: flex;
        font-size: 3rem;
        cursor: pointer;
        position: relative;
    }

    .menu-toggle:checked + .nav-list {
        display: block;
        position: absolute;
        right: 0.5px;
        font-size: 1.4rem;
        background: var(--steel-teal);
        border-radius: 10px;
        z-index: 4;
    }

    /* *HERO SECTION */
    .hero {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .hero-text {
        justify-content: center;
        align-items: center;
    }

    .hero-text h1 {
        padding: 0 3rem;
    }

    .hero-text p {
        padding: 0 1.5rem;
    }

    .hero-img {
        max-width: 80%;
    }

    .info-text {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 1rem;
        font-size: 1.3rem;
    }
    
    /* *DESCRIPTION SECTION* */
    .encuesta {
        max-width: 400px;
    }

    .encuesta-container {
        display: flex;
        flex-direction: column;
    }

    .encuesta-item {
        text-align: center;
    }

    /* *PRODUCTS SECTION* */
    .productos {
        max-width: 400px;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* *SECTION CLIENTES* */
    .clients {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacto-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        text-align: center;
    }

    .container-redes {
        margin: 1rem auto;
    }
}

/* *MEDIA QUERIES CELULAR* */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* *NAVBAR* */
        body {
            z-index: 1;
        }
    
        .container-btn {
            font-size: 2rem;
            color: var(--cadmium-orange);
        }
        
        .nav-list {
            display: none;
        }
    
        .hamburguesa {
            color: var(--cadmium-orange);
        }
    
        .burga {
            display: flex;
            font-size: 3rem;
            cursor: pointer;
            position: relative;
        }
    
        .menu-toggle:checked + .nav-list {
            display: block;
            position: absolute;
            right: 0.5px;
            font-size: 1.4rem;
            background: var(--steel-teal);
            border-radius: 10px;
            z-index: 4;
        }
    
        /* *HERO SECTION */
        .hero {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    
        .hero-text {
            justify-content: center;
            align-items: center;
        }
    
        .hero-text h1 {
            padding: 0 3rem;
            font-size: 3rem;
        }
    
        .hero-text p {
            padding: 0 1.5rem;
            font-size: 1.5rem;
        }
    
        .hero-img {
            max-width: 80%;
        }
    
        .info-text {
            display: flex;
            flex-direction: column;
            width: 70%;
            padding: 1rem;
            font-size: 1.3rem;
        }
        
        /* *DESCRIPTION SECTION* */
        .encuesta {
            max-width: 690px;
        }
    
        .encuesta-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 400px;
        }
    
        .encuesta-item {
            text-align: center;
        }
    
        /* *PRODUCTS SECTION* */
        .productos {
            max-width: 690px;
        }
    
        .product-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
    
        /* *SECTION CLIENTES* */
        .clients {
            max-width: 690px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        /* *FOOTER* */
        .contacto-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            text-align: center;
        }
    
        .container-redes {
            margin: 1rem auto;
        }
    }