@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,600;0,900;1,900&display=swap');

/* Paleta de Colores elegida */
:root {
--cadmium-orange: #f28f3bff;
--steel-teal: #588b8bff;
--white: #ffffffff;
--independence: #3d405bff;
--jet: #2d2d2aff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Chela One", sans-serif;
    background: var(--steel-teal);
}

a {
    text-decoration: none;
}

.logo {
    height: 80%;
    border-radius: 10px;
}

.logo:hover{ 
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.header {
    background: var(--white);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-link {
    color: var(--jet);
}

.nav-link:hover {
    color: var(--steel-teal);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 5rem;
}

.section-img {
    width: 500px;
    height: auto;
    border-radius: 15px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}    

.hero-text h1 {
    font-weight: 900;
    font-size: 3.2rem;
}

.hero-text p {
    max-width: 400px;
}

.text-btn {
    margin-top: 2rem;
    display: flex;
    gap: 20px;
}

.btn {
    border: 2px solid var(--independence);
    padding: 1rem 1.3rem;
    border-radius: 5px;
    font-weight: 600;
}

.btn-cta {
    background: var(--independence);
    color: var(--white);
}

.btn-otro {
    color: var(--independence);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.info-text {
    font-size: 1.6rem;
    padding: 0 400px;
    margin-top: 50px ;
}
